body {
    margin-top: 0;
}

#timer {
  font-family: "Courier New", monospace;
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 36px;
}
.my-name {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
  font-weight: bold;
}
.content {
  margin-top: 30px;
}

.header {
  padding-left: 15px;
}

.header h2 {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.score-container, .best-container {
  display: inline-block;
  width: 100px;
  padding: 15px 5px;
}

.score-container:after {
  content: "Your Score";
}

.best-container:after {
  content: "Best So Far";
}

.container-main, .container-other {
  margin-top: 25px;
  vertical-align: top;
}

.container-main {
  width: 580px;
  margin-left: 20px;
  display: inline-block;
  margin-right: 15px;
}

.container-other {
  width: 650px;
  display: inline-block;
  border-left: 1px dashed rgba(143, 121, 100, 0.42);
  text-align: center;
}

.view-box {
  padding: 10px;
  display: inline-block;
}

.game-container.small {
  zoom: 0.5;
  margin: auto;
}

.above-game {
  text-align: center;
}
.game-container {
  margin:auto;
  margin-top: 15px;
}

.giveup-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  text-align: center;
}

#view-box-tmpl {
  display: none;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.name-container {
  margin-top: 1.5em;
  font-size: 0.88em;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.view-box .score-container {
  padding-bottom: 8px;
  font-size: 20px;
}
.view-box .score-container:after {
  content: "Score";
}
#backdrop {
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(0,0,0, 0.73);
  position: fixed;
  top:0;bottom:0;left:0;right:0;
  z-index: 99999;
}
#countdown {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 600px;
  height: 250px;
  margin-left: -300px;
  color: rgb(58, 46, 46);
  text-align: center;
  z-index: 99999;
}
#countdown > div {
  height: 100%;
  width: 100%;
  position: relative;
  visibility: visible;
}
#countdown > div > p {
  position: absolute;
  color: white;
  margin: 0;
  font-size: 42px;
  top: 50%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
}
#countdown .ct-msg {
  display: none;
}
#countdown > div.wait-msg p {
  font-size: 34px;
}
#countdown .count {
  font-size: 1.5em;
  font-weight: bold;
}
